/Build/Release/Data

/Build/Debug/Data
/Build/Debug

/Build/Release
/Hath.v11.suo
/Hath.suo
/Hath.sln.docstates.suo

/HathLibraries/obj/Release
/HathServerGUI/obj/x86/Debug
/TestTools/obj/Release
/TestTools/bin/Release
/TestTools/obj/Debug
/HathServerGUI/obj/x86/Release
/HathServerConsole/obj/x86/Release
/HathServerConsole/obj/x86/Debug
/HathLibraries/obj/Debug
